.header{
 display: flex;
 justify-content: space-between;
 width: auto;
 &__cart-currency{
   display: flex;
   align-items: baseline;
   padding-right: 30px;

   .cart{
     padding-right: 50px;
     padding-left: 20px;
     cursor: pointer;
   }
 }
 &__btns__tech,
&__btns__clothes{
  background-color: unset;
  border: unset;
  font-weight: 100;
  font-size: 20px;
  line-height: 120%;
  width: 100px;
  height: 80px;
 }
  &__btns__clothes:focus,
  &__btns__tech:focus{
    border-bottom: 2px solid #5ECE7B;
    color: #5ECE7B;
  }
}
.header__logo{
  width: 50px;
}
.currency-window{
  box-shadow: 0px 2px 6px -1px #c9bebe;
  position: absolute;
  width: 114px;
  height: 222px;
  left: 90%;
  top: 65px;
  display: table-column;
  z-index: 2;
}
#curr-btns {
  width: 114px;
  height: 45px;
  background-color: white;
  border: none;
  font-size: x-large;
}
#curr-btns:hover{
  background-color:#EEEEEE;
;
}
.quantity-items{
  text-align: -webkit-right;
  width: 63px;
  &__circle{
    background-color: black;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    color: white;
    display: table-caption;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
  }
}


