.props-wrapper{
  background-color: white;
  height:100%;
  width: 100%;
  flex-direction: column;
  display: flex;
  overflow:hidden;
}
.props-header{
  margin-top: 0px;
  padding: 10px;
}
.scroller{
  overflow-x: scroll;
  scroll-behavior: smooth;
  height: 60%;
  width: 100%;
  overscroll-behavior: contain;
}
.scroller::-webkit-scrollbar {
  display: none;
}
.cart-order{
  width: 279px;
  height: 43px;
  background: #5ECE7B;
  border: none;
  color: white;
  margin-bottom: 70px;
}
.total-quantity{
  padding: 20px;
  height: 250px;

}